@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position:relative;
}
.new{
    position: absolute;
    left:0;
    background-color: rgb(255, 183, 0);
    padding: 0.3rem 3rem;
    transform: rotateZ(-45deg) translateX(-1.4rem) translateY(-1.4rem) ;
    clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%)
}
.container{
    padding:0;
    border: 2px solid rgb(255, 183, 0);
    background-color: rgb(255, 183, 0);
}
.heading{
   margin:2rem;
   margin-top: 2rem;
   padding-bottom: 2rem;
   font-size: 1.5rem;
   font-weight: 900;
}
.card-text{
    font-size: 0.9rem;
}
.sub-heading{
    font-size: 1rem;
    font-weight: 700;
    margin: 1.2rem;
}
.text{
    position: absolute;
    bottom: 2rem;
    left:5rem;
}


